DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=

GEOAPIFY_GEOCODING_API_KEY=

#JWT
JWT_SECRET_KEY=

#Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/crowdsourcedapi/api/auth/google_callback.php

FRONTEND_URL=http://localhost:5173
